.app-layout {
  .app-layout-content {
    padding: 20px;

    .content {
      margin: 0;
      padding: 20px 0;
    }
  }

  .header {
    span {
      color: #FFF;
      font-size: 20px;
      font-weight: bold;
    }
  }
}